

@media (min-width: 1201px) and (max-width: 1366px) {
	.playroom {
		font-size: 200px;
	}

	.sider_text .first_heading{
		font-size: 5em;
		line-height: 1.5em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .second_heading{
		font-size: 5em;
		line-height: 1.5em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .third_heading{
		font-size: 5em;
		line-height: 1.5em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}	
	
	


}

@media(max-width: 991px) {

	.playroom {
		font-size: 150px;
	}
	.description_img_left, .description_img_right{
		position: relative;
		height: 460px;
		width: 100%;
		z-index: 1;
	}
	.project_description{
		margin-top: 30px;
	}
	
	.sider_text .first_heading{
		font-size: 3em;
		line-height: 1.5em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .second_heading{
		font-size: 3em;
		line-height: 1.5em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .third_heading{
		font-size: 3em;
		line-height: 1.5em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}	
	
	
}

/* small mobile :320px. */
@media (max-width: 767px) {

	body{
		font-family: 'BitcountSingle', sans-serif;
		color: #8a8a8a;
		font-size: 15px;
		line-height:1.6em;
		overflow-x: hidden;

	}

	.playroom {
		font-size: 230px; /* Showing as "Bit" */
	}
	.nivoSlider img  {
			height: 430px !important;
		}
		
		.navbar-collapse {
		background:#000;
	}


	/* align middle on mobile | slider title */

	.slide1{
		text-align: center;
	}
	.slide2{
		text-align: center;
	}
	.slide3{
		text-align: center;
	}
	.slide4{
		text-align: center;
	}
	.sider_text p {
		font-family: "BitcountPropSingle";
		color: #fff;
		font-size: 1.1em;
		line-height: 1.3em;
		margin-bottom: 50px;
	}
	.sider_text .first_heading{
		font-size: 6em;
		line-height: 1em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .second_heading{
		font-size: 6em;
		line-height: 1em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .third_heading{
		font-size: 6em;
		line-height: 1em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.sider_text .fourth_heading{
		font-size: 6em;
		line-height: 1em;
		margin-bottom: 0;	
		margin-top: 1em;	
	}
	.explore_btn {
	  font-size: 13px;
	  padding: 12px 17px;
	}	
	h2,.section_title h2 {
	  font-size: 25px;
	}	
	h4{
		font-size: 16px;
	}
	.statistics-content {
	  margin-bottom: 30px;
	}	
	#contact .right{
		margin-top: 30px;
	}
}
